@font-face {
  font-family: "Geist";
  src: url("/Geist-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 10000;
}

@font-face {
  font-family: "BinancePlex";
  src: url("/BinancePlexFont.ttf") format("truetype-variations");
  font-weight: 100 10000;
}

@import "tailwindcss";

html,
body {
  --RETRAC: #4f4f4f;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Geist", "BinancePlex", sans-serif;
  color: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  outline: none;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  overflow: hidden;
}

.font-plex {
  font-family: "Inter", "BinancePlex", sans-serif;
}

.font-geist {
  font-family: "Inter", "Geist", sans-serif;
}

.font-inter {
  font-family: "Inter", "Geist", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: color-mix(
    in oklab,
    var(--color-neutral-700) /* oklch(37.1% 0 0) = #404040 */ 40%,
    transparent
  );
  border: 5px solid transparent;
}

.animate-move {
  animation: move 7s linear infinite;
}

@keyframes move {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

@keyframes shimmer {
  100% {
    mask-position: left;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@theme {
  --color-neutral-900: color-mix(in srgb, var(--RETRAC) 40%, #000000 100%);
  --color-neutral-800: color-mix(in srgb, var(--RETRAC) 50%, #000000 30%);
  --color-neutral-700: color-mix(in srgb, var(--RETRAC) 100%, #000000 20%);
  --color-neutral-600: var(--RETRAC);
}
