@font-face {
  font-family: "Geist";
  src: url("/Geist-VariableFont_wght.ttf") format("truetype-variations");
  font-weight: 100 10000;
}

@font-face {
  font-family: "BinancePlex";
  src: url("/BinancePlexFont.ttf") format("truetype-variations");
  font-weight: 100 10000;
}

@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist", sans-serif;
  color: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
  outline: none;
}

* {
  box-sizing: border-box;
}

#root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222222;
  overflow: hidden;
}

.font-plex {
  font-family: "BinancePlex", sans-serif;
}

.font-geist {
  font-family: "Geist", sans-serif;
}
